.to-move-arrow:hover .arrow {
    transform: rotate(180deg);
}
.for-hover:hover .title {
    color: rgb(57, 51, 132);
}
.menu {
    width: 1200px;
}
.drp-dwn:hover .menu {
    visibility: visible;
    transition: 0.5s;
  }
